@import 'common/variables';
@import 'common/mixin';

.support {
    padding-top: rem(40px);
    padding-bottom: rem(40px);

    &-ttl {
        font-size: rem(28px);
        font-weight: normal;
        color: $primary;
        text-align: center;
    }
}