.breadcrumb {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: rem(10px);

    &-item {
        & + .breadcrumb-item {
            &::before {
                color: $white;
                content: "/";
                padding: 0 rem(8px) 0 rem(12px);
            }
        }
    }

    &-link, &-text {
        color: $white;
        font-size: rem(14px);
    }

    &-link {
        &:hover {
            color: $primary;
        }
    }
}