.breadcrumb {
    padding: rem(18px) 0 rem(21px);

    ul {
        display: flex;
        align-items: center;

        > li {
            color: #575757;
            font-size: rem(12px);
            font-weight: 500;
            letter-spacing: .12em;

            &:first-child {
                font-size: rem(13px);
                font-weight: bold;
                letter-spacing: .08em;
                position: relative;
                top: 1px;
            }

            &:not(:last-child) {
                &::after {
                    content: '/';
                    font-size: rem(13px);
                    font-weight: 300;
                    margin-left: rem(22px);
                    margin-right: rem(17px);
                }
            }

            a {
                color: $body-color;
            }
        }
    }
}