.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:focus,
    &.focus {
        outline: 0;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

.hover {
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s;
    }
}

.button-primary {
    border-radius: rem(5px);
    border: 0;
    color: $white;
    font-weight: 500;
    text-transform: initial;
    background-color: #326fab;
    background-image: linear-gradient(225deg,#2f80ed 0,#56ccf2 50%,#2f80ed 100%);
    background-size: 250% auto;
    min-height: rem(45px);
    line-height: rem(45px);
    font-size: rem(14px);
    letter-spacing: .03em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: .5s ease-in-out;

    &:hover {
        background-position: right center;
    }
}

.btn-medium {
    max-width: rem(150px);
    margin: 0 auto;
}