.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:focus,
    &.focus {
        outline: 0;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

.hover {
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s;
    }
}

.button-primary {
    border-radius: rem(5px);
    border: 0;
    color: $white;
    font-weight: 500;
    text-transform: initial;
    background-color: #326fab;
    // background: linear-gradient(270deg, #3bade3 0%, #576fe6 25%, #0871b5 51%, #ed2426 100%);
    // background-position: 1% 50%;
    // background-size: 200% auto;
    min-height: rem(45px);
    line-height: rem(45px);
    font-size: rem(14px);
    letter-spacing: .03em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: opacity 0.3s ease-out;

    &:hover {
        // background-position: 99% 50%;
        opacity: .8;
        transition: opacity 0.3s ease-out;
    }
}

.btn-medium {
    max-width: rem(150px);
    margin: 0 auto;
}