.header {
    &.is-fixed {
        background-color: $white;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(189,189,189,0.62);
        -moz-box-shadow: 0px 2px 20px 0px rgba(189,189,189,0.62);
        box-shadow: 0px 2px 20px 0px rgba(189,189,189,0.62);
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        @include mq('md', min) {
            max-width: rem(200px);

            img {
                width: auto;
                max-height: rem(60px);
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;

    &-item {
        @include mq('md', min) {
            &:not(:last-child) {
                margin-right: rem(20px);
            }
        }
    }

    &-link {
        display: block;
        font-size: rem(16px);
        position: relative;
        display: block;
        padding: rem(10px) 0;

        @include mq('md', min) {
            line-height: rem(60px);
        }

        span {
            background: linear-gradient(#000, #000) 100% 100%/0 2px no-repeat;
            transition: background-size .4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
            padding-bottom: rem(10px);
        }

        &:hover, &.is-active {
            span {
                background-position: 0 100%;
                background-size: 100% 2px;
            }
        }
    }
}