.table {
    width: 100%;
}

.tbl-style01 {
    margin-bottom: rem(20px);
    width: 100%;

    @include mq('md', min) {
        margin-bottom: rem(35px);
    }

    th, td {
        border: 1px solid $gray-400;
        font-weight: 500;
        letter-spacing: .06em;
        padding: rem(11px) rem(10px);

        @include mq('md', min) {
            padding: rem(11px) rem(29px);
        }
    }

    th {
        background-clip: padding-box;
        background-color: $gray-700;
        font-weight: bold;
        width: rem(140px);

        @include mq('md', min) {
            width: rem(270px);
        }
    }
}